
# Compiled class file
*.class

.DS_Store

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/PlantillaJFrame/nbproject/private/
/Actividad12T6PRO/dist/
/Actividad13T6PRO/nbproject/private/
/Actividad13T6PRO/build/
/Actividad14T6PRO/nbproject/private/
/Actividad15T6PRO/nbproject/private/
/Actividad17T6PRO/nbproject/private/
/Actividad17T6PRO/build/
/Actividad18T6PRO/nbproject/private/
/Actividad19T6PRO/nbproject/private/
/Actividad19T6PRO/build/
/Archivo/Actividad12T6PRO/build/
/Archivo/Actividad12T6PRO/nbproject/private/
/Archivo/Actividad13T6PRO/build/
/Archivo/Actividad13T6PRO/nbproject/private/
/Archivo/Actividad14T6PRO/nbproject/private/
/Archivo/Actividad15T6PRO/nbproject/private/
/Archivo/Actividad17T6PRO/build/
/Archivo/Actividad17T6PRO/nbproject/private/
/Archivo/Actividad19T6PRO/build/
/Archivo/Actividad19T6PRO/nbproject/private/
/PracticaT5PRO/nbproject/private/
/PracticaT5PRO/build/
/PracticaTema5PRO/build/
/PracticaTema5PRO/nbproject/private/
/Actividad22T6PRO/nbproject/private/
/Actividad22T6PRO/build/
