/EjemploGit/nbproject/private/
/EjemploFicheros/nbproject/private/
/EjemploFicheros/build/
/Actividad22T5PRO/nbproject/private/
/Actividad22T5PRO/build/
/Actividad24T5PRO/nbproject/private/
/Actividad24T5PRO/build/
/Actividad25T5PRO/nbproject/private/
/Actividad28T5PRO/nbproject/private/